# Lombok configuration for CI/CD
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
lombok.accessors.fluent = false
lombok.accessors.chain = false
lombok.log.fieldName = log
lombok.log.fieldIsStatic = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
config.stopBubbling = true 